  body {
    background-color: white;


   
}




h1 {
            text-align: center;
        }
        .menu {
            margin: 20px 0;
        }
        .resultado {
            margin-top: 20px;
            font-weight: bold;
        }
        label{
            position: relative;
            display: flex;
        }